<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.booleanmagic.ActionMenu</string>
			<key>key</key>
			<string>AMPluginEnabled-Shorten URL</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>com.booleanmagic.ActionMenu.settingschange</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>0</string>
			<key>defaults</key>
			<string>com.conradkramer.amshorturl</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>id</key>
			<string>urlshortener</string>
			<key>key</key>
			<string>urlshortener</string>
            <key>PostNotification</key>
            <string>com.comconradkramer.actionmenutinyurl.settings</string>
			<key>label</key>
			<string>Shortening Service</string>
			<key>set</key>
			<string>setURLShortener:specifier:</string>
			<key>validTitles</key>
			<array>
				<string>TinyURL</string>
				<string>goo.gl</string>
				<string>bit.ly</string>
				<string>is.gd</string>
				<string>xrl.us</string>
				<string>tinyarro.ws</string>
			</array>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>5</string>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>com.conradkramer.amshorturl</string>
			<key>id</key>
			<string>username</string>
			<key>key</key>
			<string>username</string>
		    <key>PostNotification</key>
            <string>com.comconradkramer.actionmenutinyurl.settings</string>
            <key>label</key>
			<string>Username</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>com.conradkramer.amshorturl</string>
			<key>id</key>
			<string>apikey</string>
			<key>key</key>
			<string>apikey</string>
            <key>PostNotification</key>
            <string>com.comconradkramer.actionmenutinyurl.settings</string>
            <key>label</key>
			<string>API Key</string>
		</dict>
		<dict>
			<key>action</key>
			<string>showBitlyInfo:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>id</key>
			<string>infobutton</string>
			<key>label</key>
			<string>How do I get these?</string>
		</dict>
		<dict>
			<key>action</key>
			<string>authButtonPressed:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>id</key>
			<string>authbuttonin</string>
			<key>label</key>
			<string>Sign In</string>
		</dict>
		<dict>
			<key>action</key>
			<string>authButtonPressed:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>id</key>
			<string>authbuttonout</string>
			<key>label</key>
			<string>Sign Out</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
        <dict>
			<key>action</key>
			<string>showDonationPage:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Donate with PayPal</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>© 2010-2011 Conrad Kramer</string>
		</dict>
	</array>
	<key>title</key>
	<string>Shorten URL</string>
</dict>
</plist>
